body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

body::before{
    content:"";
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: url('wallpaperflare.com_wallpaper.jpg') no-repeat center center fixed;
    background-size:cover;
    opacity:0.1;
    z-index:-1;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #0B6623;
}

header p {
    font-size: 1.2em;
    color: #7f8c8d;
}

section.content article {
    margin-bottom: 20px;
}

.disease {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.disease img {
    
    height: 200px; /* Set the desired height */
    width: auto;   /* Maintain aspect ratio */
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.disease div {
    flex-grow: 1;
}

h2 {
    color: #00a86b;
    font-size: 2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #0B6623;
    padding-bottom: 5px;
}

h3 {
    color: #0B6623;
    font-size: 1.5em;
    margin-bottom: 5px;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer {
    background: #ecf0f1;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer h2 {
    color: #e74c3c;
    font-size: 2em;
    margin-bottom: 10px;
}

footer p {
    color: #7f8c8d;
    font-size: 1.2em;
}
