/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
.header {
    background-image: url('./Images/camp\ header.jpg'); /* Replace with your header image path */
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.header-content h1 {
    font-size: 3em;
    font-weight: bold;
}

/* About Section Styles */
.about-section {
    display: flex;
    justify-content: center;
    padding: 50px 10px;
    background-color: #fff;
}

.about-content {
    max-width: 1000px;
    text-align: left;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.highlight {
    color: #00b318; /*Green color */
}

.highlight-link {
    color: #00b333 ;
}

/* Image Section Styles */
.image-section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f5f5f5;
}

.image-section img {
    width: 80%;
    max-width: 800px;
    height: auto;
}

/* Additional Information Section Styles */
.additional-info {
    padding: 20px;
    text-align: justify;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.column {
    width: 48%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: url('bullet.png') no-repeat left center;
    padding-left: 20px;
    margin-bottom: 10px;
}

.logo-section {
    background-color: #efefef;
    padding: 10px;
    text-align: center;
}

.logo-container img {
    width: 295px;
    margin: 0 5px;
}

.testimonial-section {
    background-color: white;
    padding: 40px 20px;
}

.testimonial-header {
    text-align: center;
    margin-bottom: 30px;
}

.testimonial-header h2 {
    font-size: 2em;
}

.testimonial-header .highlight {
    color: #00b318;
}

.testimonial-cards {
    display: flex;
    justify-content: space-around;
}

.testimonial-card {
    background-color:#00b318;
    padding: 20px;
    width: 29%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.testimonial-card h3 {
    margin-top: 20px;
    font-size: 1.2em;
}

.testimonial-card p:last-child {
    font-style: italic;
    color: white;
}

.testimonial-content{
    color: white;
}